lshmm==0.0.8
pytest==8.2.2
pytest-cov==5.0.0
pytest-xdist==3.6.1
svgwrite==1.4.3
portion==2.4.2
xmlunittest==0.5.0
biopython==1.83
dendropy==5.0.1
networkx==3.2.1
msgpack==1.0.8
newick==1.9.0
kastore==0.3.3
jsonschema==4.22.0