lshmm==0.0.8
pytest==8.3.5
pytest-cov==6.0.0
pytest-xdist==3.6.1
svgwrite==1.4.3
portion==2.6.0
xmlunittest==1.0.1
biopython==1.85
dendropy==5.0.1
networkx==3.2.1
msgpack==1.1.0
newick==1.10.0
kastore==0.3.3
jsonschema==4.23.0