numpy==1.19.5
pytest==6.2.2
pytest-xdist==2.2.1
jsonschema==3.2.0
h5py==3.1.0
h5py==3.1.0
svgwrite==1.4.1
portion==2.1.5
xmlunittest==0.5.0
biopython==1.78
kastore==0.3.1
networkx==2.5
msgpack==1.0.2
python-jsonschema-objects==0.3.13
newick==1.0.0
PyVCF==0.6.8