version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6-stretch
    working_directory: /home/circleci/tskit
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci *
      - restore_cache:
          key: tskit-{{ .Branch }}
      - run:
          name: Checkout submodules
          command: |
            git submodule update --init --recursive 
      - run:
          name: Install dependencies and set path
          command: |
            sudo apt-get install ninja-build libcunit1-dev valgrind clang doxygen libgsl-dev
            # Install meson to the system packages so we can run it as root
            sudo pip install meson 
            pip install --user -r python/requirements/development.txt
            pip install twine --user
            # TODO add msprime to the development.txt when we have a stable 0.7.0 release.
            pip install --user --pre msprime
            echo 'export PATH=/home/circleci/.local/bin:$PATH' >> $BASH_ENV
      - save_cache:
          key: tskit-{{ .Branch }}
          paths:
            - "/home/circleci/.local"

      - run:
          name: Compile Python
          command: |
            cd python 
            CFLAGS="--coverage -Wall -Wextra -Werror -Wno-unused-parameter -Wno-missing-field-initializers" \
              python setup.py build_ext --inplace

      - run:
          name: Lint Python
          command: |
            cd python
            flake8 --max-line-length 89 tskit setup.py tests

      - run:
          name: Run Python tests 
          command: |
            PYTHONPATH=python nosetests -v --with-coverage --cover-package tskit \
              --cover-branches --cover-erase --cover-xml \
              --cover-inclusive python/tests
            python3 -m codecov -F python_tests -X gcov

      - run:
          name: Build Python package
          command: |
            cd python
            rm -fR build
            python setup.py sdist
            python setup.py check
            python -m twine check dist/*.tar.gz
            python -m venv venv
            source venv/bin/activate 
            pip install --upgrade setuptools pip wheel
            python setup.py build_ext
            python setup.py egg_info
            python setup.py bdist_wheel
            pip install dist/*.tar.gz 

      - run:
          name: Compile C with gcc
          command: |
            meson build-gcc c -D b_coverage=true
            ninja -C build-gcc

      - run:
          name: Compile C with clang
          command: |
            CC=clang CXX=clang++ meson build-clang c 
            ninja -C build-clang 

      - run:
          name: Run C tests
          command: |
            ninja -C build-gcc test

      - run:
          name: Run gcov & upload coverage.
          command: |
            gcov -pb -o ./python/build/temp.linux*/ python/_tskitmodule.c
            cd build-gcc
            # TODO should be able to do this with 'find', but it's tricky and opaque.
            gcov -pb tskit@sta/tskit_core.c.gcno ../c/tskit/core.c
            gcov -pb tskit@sta/tskit_tables.c.gcno ../c/tskit/tables.c
            gcov -pb tskit@sta/tskit_trees.c.gcno ../c/tskit/trees.c
            gcov -pb tskit@sta/tskit_genotypes.c.gcno ../c/tskit/genotypes.c
            gcov -pb tskit@sta/tskit_core.c.gcno ../c/tskit/core.c
            gcov -pb tskit@sta/tskit_convert.c.gcno ../c/tskit/convert.c
            gcov -pb tskit@sta/tskit_stats.c.gcno ../c/tskit/stats.c
            cd ..
            codecov -X gcov -F c_tests

      - run:
          name: Valgrind for C tests.
          command: |
            valgrind --leak-check=full --error-exitcode=1 ./build-gcc/test_core
            valgrind --leak-check=full --error-exitcode=1 ./build-gcc/test_tables
            valgrind --leak-check=full --error-exitcode=1 ./build-gcc/test_trees
            valgrind --leak-check=full --error-exitcode=1 ./build-gcc/test_genotypes
            valgrind --leak-check=full --error-exitcode=1 ./build-gcc/test_convert
            valgrind --leak-check=full --error-exitcode=1 ./build-gcc/test_stats
            valgrind --leak-check=full --error-exitcode=1 ./build-gcc/test_minimal_cpp

      - run:
          name: Run clang-compiled C tests
          command: |
            ninja -C build-clang test

      - run:
          name: Test building with meson subproject
          command: |
            meson build-subproject c/tests/meson-subproject
            ninja -C build-subproject
            ./build-subproject/example

      - run:
          name: Install shared library and hand-compile program.
          command: |
            meson build-install c --prefix=/usr
            sudo ninja -C build-install install
            clang c/examples/api_structure.c -o api_structure -ltskit
            ./api_structure

      - run:
          name: Build docs
          command: |
            cd docs && make
