biopython==1.79
black==21.6b0
coverage==5.5
flake8==3.9.2
h5py==3.3.0
jsonschema==3.2.0
kastore==0.3.1
msgpack==1.0.2
msprime==1.0.1
networkx==2.5.1
newick==1.3.0
numpy==1.20.3
portion==2.1.6
pyparsing==2.4.7
pysam==0.16.0.1
pytest==6.2.4
pytest-cov==2.12.1
pytest-xdist==2.3.0
python-jsonschema-objects==0.4.0
PyVCF==0.6.8
svgwrite==1.4.1
xmlunittest==0.5.0
