include LICENSE
include lwt_interface/tskit_lwt_interface.h
include lib/subprojects/kastore/kastore.h
include lib/tskit.h
include lib/tskit/*.h
include tskit/_version.py
include tskit/provenance.schema.json
