attrs==20.1.0
autodocsumm==0.1.13
biopython==1.77
black==20.8b1
breathe==4.20.0
codecov==2.1.9
coverage==5.2.1
flake8==3.8.3
h5py==2.10.0
jsonschema==3.2.0
kastore==0.3.1
msgpack==1.0.0
msprime==0.7.4
networkx==2.5
newick==1.0.0
numpy==1.19.1
portion==2.1.1
pre-commit==2.7.1
pyparsing==2.4.7
pysam==0.16.0.1
pytest==6.1.0
pytest-cov==2.10.1
pytest-xdist==2.1.0
python-jsonschema-objects==0.3.13
PyVCF==0.6.8
sphinx==3.2.1
sphinx-argparse==0.2.5
sphinx-issues==1.2.0
sphinx_rtd_theme==0.5.0
svgwrite==1.4
xmlunittest==0.5.0
