name: Build Docs
on:
  pull_request:
  merge_group:
  push:
    branches: [main]
    tags:
      - '*'

env:
  FORCE_COLOR: 1

jobs:
  Docs:
    uses: tskit-dev/.github/.github/workflows/docs.yml@main
    with:
      pyproject-directory: python
      doxygen-directory: docs/doxygen
