name: Build Docs
on:
  pull_request:
  merge_group:
  push:
    branches: [main]
    tags:
      - '*'

env:
  FORCE_COLOR: 1

jobs:
  Docs:
    uses: tskit-dev/.github/.github/workflows/docs-build-template.yml@v1
    with:
      additional-setup: sudo apt-get install -y doxygen
      make-command: make -C python