name: Publish Python release

on:
  push:
    branches: [test-publish]
  release:
    types: [published]

jobs:
  build-wheels:
    uses: tskit-dev/.github/.github/workflows/build-wheels.yml@main
    with:
      pyproject-directory: python

  publish:
    runs-on: ubuntu-24.04
    environment: release
    needs: [ 'build-wheels' ]
    permissions:
      id-token: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7.0.0
        with:
          pattern: build-*
          path: dist
          merge-multiple: true

      - name: Show artifacts
        run: ls -lah dist

      - name: Publish distribution to Test PyPI
        if: github.event_name == 'push' && github.ref_name == 'test-publish'
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          repository-url: https://test.pypi.org/legacy/
          verbose: true

      - name: Publish distribution to Production PyPI
        if: github.event_name == 'release'
        uses: pypa/gh-action-pypi-publish@v1.13.0
